.Home
    padding-top: 40px
    background: #f5f5f5
    min-height: calc(100vh - 100px)
    padding-bottom: 200px

    &-container
        display: grid 
        grid-template-columns: 22% 56% 22% 
        grid-gap: 30px

        .center, .left, .right 
            display: grid
            align-content: flex-start
            grid-gap: 15px 
