@import ./mixings 
@import ./Colors
@import ./Fonts

*
  margin: 0
  padding: 0 
  box-sizing: border-box 
  outline: none
  font-family: 'Varela Round', sans-serif
  font-size: 15px
  
  button:focus
    outline-style: none

.App 
  background: #F5F5F5
  position: relative

.Chat-container
  z-index: 9
  position: fixed 
  display: inline-flex
  justify-content: flex-end
  flex-wrap: wrap
  bottom: -20px
  right: 20px
  overflow: hidden

  // height: 375px
  // width: 2000%
  background: red

  &>div 
    margin-left: 15px
  
  

  

.sm-container 
  @include container(1000px, 90%)
.md-container 
  @include container(1000px, 90%)

.btn 
  padding: 10px 13px
  border-style: none
  border-radius: 5px
  cursor: pointer
  font-size: .95rem
.primary-btn, .secondary-btn  
  color: white
  padding: 8px 18px
  border-style: none
  border-radius: 30px
  margin-bottom: 20px
  transition: .3s background
  border-style: none 
  cursor: pointer


.primary-btn
  background: $primary-color
  &:hover 
    background: lighten($primary-color, 5% )

.secondary-btn
  color: black
  background: #d4d7dd
  &:hover 
    background: darken(#d4d7dd, 10% )

hr 
  width: 100%
  border-style: none 
  border-top: 1px solid #E4E4E4
  margin: 15px 0

.loading
  display: flex 
  justify-content: center
  padding: 120px 0
  &-gif
    height: 150px






