@import '../style/Colors'
.Nav
    &-container
        display: flex
        align-items: center
        justify-content: space-between

    .left-side
        display: flex
        align-items: center

        .logo 
            margin-right: 10px
            color: $primary-color 
            font-weight: bolder
            font-size: 1.7rem
            cursor: pointer
            transition: color .3s

            &:hover 
                color: darken($primary-color, 10%)

        .search-bar
            position: relative

            input 
                padding: 10px 40px 10px 12px
                border-radius: 30px 
                border-style: none
                width: 100%
                max-width: 300px
                background: #F1F3F5

                &:focus
                    outline-style: none
            i.search 
                position: absolute
                content: ''
                transform: translateY(-50%) 
                top: 50%
                right: 15px
                cursor: pointer
                color: #0c68a5

    .right-side
        display: flex
        align-items: center
        nav
            ul
                margin: 0
                display: flex
                justify-content: center 
                align-items: center
                a 
                    text-decoration: none
                    position: relative
               
                li 
                    text-align: center
                    list-style: none 
                    padding: 15px
                    color: $light-grey
                    cursor: pointer
                    &:hover 
                        color: darken($light-grey, 30% )
                    
                    p
                      font-size: .85rem      
                    i 
                        font-size: 1.2rem

                i
                    display: block
        a 
            text-decoration: none

        .profile-menu
            display: flex
            align-items: center 
            color: $light-grey 
            // border-left: 1px solid #adadad5b
            // border-right: 1px solid #adadad5b
            padding: 15px 10px
            cursor: pointer
            &:hover 
                background: $hover-color

            .profile-picture img 
                height: 30px
                width: 30px
                border-radius: 50% 
            p.me 
                padding: 0 7px

    .active
        background: $hover-color
        i, p
            color: black
        

@media screen and ( max-width: 900px  )
    .Nav 
        .right-side
            nav 
                li  
                    p 
                        display: none

@media screen and ( max-width: 500px  )
    .Nav
        &-container
            justify-content: none

            .left-side 

            .right-side

                nav 
                    display: none
                    li  
                        p 
                            display: none
                .profile-menu
                    border: none
                    .me 
                        display: none

        