@import ../Colors
.Login 
    &-title
        margin: 40px 0
        position: relative 
        font-size: 1.5rem
        &:after 
            position: absolute
            content: ""
            bottom: -15px 
            left: -20px 
            height: 3px 
            width: 40px
            border-radius: 10px
            background: $primary-color

    .input-box 
        position: relative 
        margin-bottom: 10px
        i 
            position: absolute 
            top: 50% 
            transform: translateY(-50%)
            left: 15px
            color: #686868

        input 
            padding: 10px
            padding-left: 35px
            border-radius: 30px 
            border-style: none
            border: 1px solid #9c9c9c
            min-width: 300px
    .primary-btn 
        padding: 8px 18px
        border-style: none
        border-radius: 30px
        margin-bottom: 20px

    a 
        margin-left: 5px
        font-size: .8rem
        color: grey
        text-decoration: none
        &:hover 
            text-decoration: underline

    .bottom 
        margin-top: 5px
        h1 
            font-size: 0.9rem
            text-align: center

    .social-media 
        // background: red 
        display: flex 
        justify-content: center 
        margin-top: 10px
        
        i 
            margin-right: 10px 
            font-size: 1.2rem
            color: grey
            cursor: pointer



    